@font-face {    
    font-family: 'Brim-Narrow2';
    src: url('./fonts/BrimNarrow-Combined2.ttf') format('truetype');

    font-family: 'Brim-Narrow3';
    src: url('./fonts/BrimNarrow-Combined3.ttf') format('truetype');

    font-family: 'Wangloe';
    src: url('./fonts/wangloe-inked.ttf') format('truetype');

    font-family: 'ShoCard';
    src: url('./fonts/sho-card-caps.regular.otf') format('truetype');

    font-family: '';
    src: url('./fonts/state-wide-rough-medium.ttf') format('truetype');
}

:root {
    --bege-background: #FBE0C0;
    --verde-header: #38412a;
    --verde-texto: #1B3606;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--bege-background);
    background-image: url(./imgs/fundoretro.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 4767px;
    text-transform: capitalize;
}

.nav-logo img{
    position: relative;
    left: 1px;
    width: 225px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 180px;
}

header{
    background-color: var(--verde-header);
    height: 100px;
}

.nav-itens {
    position: relative;
    top:-1.8rem;
    
}

.nav-itens ul {
    display: flex;
    list-style: none;
}

.nav-itens li {
    color: var(--bege-background);
    margin: 0 20px;
    font-size: 35px;
    filter: drop-shadow(0px 4px 4px 0px #000);
    
}

.nav-itens a{
    text-decoration: none;
    color: var(--bege-background);
    font-size: 1.6rem;
    letter-spacing: 0.9px;
    font-family: 'StateWide';
    font-size: 30px;
}

.nav-button button{
    background-color: var(--bege-background);
    color: var(--verde-texto);
    position: relative;
    top:-1.9rem;
    right: 15px;
    font-family: 'NightHawk';
    font-size: 25px;
    letter-spacing: 0.9px;
    cursor: pointer;
}

.nav-button button{
    font-weight: bold;
    width: 105px;
    height: 38px;
    border-color: var(--bege-background);
    border-width: 1.5px;
    border-radius: 5px;
}

.primeira-main{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}

.main-img img{
    width: 50vw;
}

.main-txt{
    margin-left: 50px;
}

.main-txt p{
    font-size: 50px;
    font-family: 'Podkova';
    color: var(--verde-texto);
}

.segunda-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-txt2{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.main-img2 img{
    width: 50vw;
}

.main-txt2 p{
    font-size: 50px;
    font-family: 'Podkova';
    color: var(--verde-texto);
    text-align: right;
}

