*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body{
    margin: 0;
    height: 100%;
    color: #FBE0C0;
    background-color: #FBE0C0;
    height: 5649px;
}

/* ------------------Navbar------------------ */
.logoBox {
    width: 250px;
    height: 250px;
    z-index: 2;
}
  
.logoImg {
    width: 100%;
    height: auto;
    position: relative;
    bottom: 20px;
    cursor: pointer;
}

.headerBox{
    display: flex;
    background-color: #414C30;
    height: 140px;
    width: 100%;
    box-shadow: 6px 6px 16px 0px rgba(0,0,0,0.6);
}

.text-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.navText{
    width: 80%;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 300;
    display: flex;
    justify-content: space-around; 
    list-style: none;
    cursor: pointer;
    text-shadow: 2px 2px 10px 0px rgba(0,0,0,0.6);
    transition-duration: 0.2s;

}

.txt1 a,.txt2 a,.txt3 a,.txt4 a{
    text-decoration: none;
    color: #FFFFFF;
}

.txt1 a:hover,.txt2 a:hover,.txt3 a:hover,.txt4 a:hover{
    color: #0e1503;
    transition-duration: 0.2s;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0);
}

.loginButton button{
    height: 50px;
    width: 100px;
    cursor: pointer;
    background-color: #1B3606;
    border: 3px solid #FFFFFF;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.6);
    transition-duration: 0.2s;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
}

.loginButton button:hover{
    background-color: #FFFFFF;
    color: #1B3606;
    transition-duration: 0.2s;  
}

/* ------------------Pagina Principal------------------ */
.page-principal {
    background-image: linear-gradient(to bottom, rgba(251, 224, 192, 0.2), rgba(251, 224, 192, 1)), url('./imgs/image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    mix-blend-mode: luminosity;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.page-principal img{
    height: 528px;
    margin-top: 5%;
}

/* ------------------Segunda Pagina------------------ */
.segunda-main{
    display: flex;
    align-items: center;
}

.segunda-txt{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 50%;
    z-index: 1;
    background-color: #414C30;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.24);
}

.segunda-txt p{
    margin: 0 100px;
    font-family: 'Podkova';
    font-size: 60px;
    color: #FFF;
}

.segunda-img{
    width: 60%;
    z-index: 2;
}

.segunda-img img{
    width: 100%;
    margin-left: 66%;
}

/* ------------------Terceira Pagina------------------ */
.terceira-main{
    display: flex;
    align-items: center;
}

.inverso{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.terceira-txt{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
    background-color: #414C30;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.24);
}

.terceira-txt p{
    margin-left: 55%;
    margin-right: 50px;
    font-family: 'Podkova';
    font-size: 55px;
    text-align: right;
    color: #FFF;
}

.terceira-img{
    width: 60%;
    z-index: 2;
}

.terceira-img img{
    width: 100%;

}

/* ------------------Quarta Pagina------------------ */
.quarta-main{
    display: flex;
    justify-content: space-between;
}

.primeira-imagem{
    position: absolute;
    width: 55%;
}

.primeira-imagem img{
    width: 100%;
}

.camera{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: end;
    z-index: 2;
}

.camera img{
    width: 15%;
    height: 25%;
}

.segunda-imagem{
    right: 0;
    position: absolute;
    width: 50%;
}

.segunda-imagem img{
    width: 100%;
}

/* .gradiante{
    background: linear-gradient(133.74deg, rgba(76, 87, 59, 0) 23.13%, rgba(114, 88, 75, 0.76) 78.92%);
    width: 100%;
} */
