* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('./assets/fundoretro.png');

    background-position: center center;
    background-size: cover;
     background-color:#1C3707;  
     background-repeat: no-repeat;
     margin: 0;
     height: 100vh;

     
}

.logo img{
height: 400px;
justify-content:center;
display: flex;





}
.logo{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 0%;
}


.divTitulo {
    text-align: center;
    margin-bottom: 20px;
}


#divcampo1{
    text-align: start;
    align-items: left;
    margin:auto;
    justify-content: flex-start;
    border-radius: 50px;
    margin: 10px;
    }

.divTitulo h1 {
    color: #333;
}




.boxCadastro input {
    background-color:rgba(251, 224, 192, 60%);
    color: #1B3606;
    width: 350px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    text-align: center;
  
    
    
}

.campo1{

    color: #FBE0C0;
}

.campo2{
    color: #FBE0C0;
    
}

.campo3{
    color: #FBE0C0;
}

.boxCadastro {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
::-webkit-input-placeholder{
    color: #1B3606;
}

.boxCadastro button {
    width: 380px;
    padding-left: 200px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: #FBE0C0;
    color: #1B3606;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.boxCadastro button:hover {
    background-color: #1B3606;
    color:#FBE0C0;
}
  
     
.botaovoltar img{
    width: 100px;
}
.botaovoltar{
    width: 100px;   
}
