* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('./assets/fundoretro.png');
    background-image: url('./assets/fundo.sujeira.png');
    background-position: center center;
    background-size: cover;
    background-color: #1C3707;
    background-repeat: no-repeat;
    overflow: hidden;
}

.logo {
    display: flex;
    justify-content: center;
    height: 400px;
    position: relative;
    top: -125px;
}


.divTitulo {
    text-align: center;
    margin-bottom: 20px;
}


#divcampo1 {
    text-align: start;
    align-items: left;
    margin: auto;
    justify-content: flex-start;
    border-radius: 50px;
    margin: 10px;
}

.divTitulo h1 {
    color: #333333;
}

.boxCadastro input {
    background-color: rgba(251, 224, 192, 60%);
    color: #1B3606;
    width: 350px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 50px;
    font-size: 16px;
    text-align: center;
}

.campo1, .campo2 p {
    color: #FBE0C0;
    font-size: large;
    font-weight: bold;
}

.boxCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -175px;
}

::-webkit-input-placeholder {
    color: #1B3606;
}

.boxCadastro button {
    width: 100px;
    padding: 7px;
    border-color: #1B3606;
    border-style: solid;
    border-radius: 100px;
    background-color: #FBE0C0;
    color: #1B3606;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    transition: 0.3s;
}

.boxCadastro button:hover {
    background-color: #1B3606;
    color: #FBE0C0;
    border-color: #FBE0C0;
    border-style: solid;
    transition: 0.3s;
    border-radius: 100px;
    transform: scale(105%);
}

.botaovoltar img {
    width: 100px;
}

.botaovoltar {
    width: 100px;
}