::placeholder{
    color: #fff;
}

.conteudo{
    /*Tamanho*/
    width: 99vw;
    height: 95vh;
    /*Organização de elementos filhos*/
    display: flex;
    justify-content: center;
    /*fonte*/
    font-family: monospace;
    font-size: large;
}

.container{
    /*Tamanho*/
    width: 500px;
    height: 90vh;
    /*Espaçamento interno*/
    padding: 15px;
    /*Cor*/
    background-color: #1a8a04;
    color: #fff;
    /*Borda*/
    border: 2px solid #000;
    border-radius: 20px;
}

.div_input {
    /*Tamanho*/
    width: 100%;
    /*Organização de elementos filhos*/
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h2{
    /*Organização do texto*/
    text-align: center;
}

p{
    /*Fonte*/
    font-weight: 600;
}

input{
     /*Espaçamento interno*/
     padding: 5px;
    /*cor*/
    background-color: transparent;
    color: #fff;
    /*Borda*/
    border: none;
    border-bottom: 2px solid #fff;
    /*fonte*/
    font-family: monospace;
    font-size: large;
    font-weight: 600;
}

button{
    /*Tamanho*/
    height: 40px;
    /*Cor*/
    background-color: #006400;
    color: #fff;
    /*Borda*/
    border: none;
    border-radius: 5px;
    /*Fonte*/
    font-family: monospace;
    font-size: large;
    font-weight: 600;
    /*Cursor do mouse*/
    cursor: pointer;
}

.container_resultado{
    /*Disponibilidade na tela*/
    display: none;
    /*Tamanho*/
    width: 700px;
    height: 90vh;
    /*Espaçamento interno*/
    padding: 15px;
    /*Cor*/
    background-color: #1a8a04;
    color: #fff;
    /*Borda*/
    border: 2px solid #000;
    border-radius: 20px;
    /*Fonte*/
    font-size: larger;
    font-family: monospace;
    font-weight: 600;
}
