*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4a612d;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.titulo {
    background-color: #597437;
    color: #F2F1EC;
    text-align: center;
    padding: 60px;
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: bold;
}

.paragrafo {
    font-size: 20px;
    margin-bottom: 15px;
}

.inputs {
    width: 97.5%;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 5px;
    font-size: 20px;
}

button {
    padding: 15px 24px;
    background-color: #536D32;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: #495c30;
}

#exibir {
    margin-top: 30px;
    font-size: 20px;
}