*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #FBE0C0;
    margin: 0;
    height: 100%;
    color: #FFFFFF;
    overflow: hidden;
}

.bgImgBox{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #2c3d10;
}

.bgImg{
    opacity: 100%;
    width: 100%;
    height: 100%;
}

.headerBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #414C30;
    height: 120px;
    width: 100%;
    z-index: 5;
    box-shadow: 6px 6px 16px 0px rgba(0,0,0,0.6);
}

.positionBox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoBox {
    width: 250px;
    height: 250px;
    margin-top: 150px;
    margin-left: 90px;
}
  
.logoImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.navText{
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
    list-style: none;
    cursor: pointer;
    text-shadow: 2px 2px 10px 0px rgba(0,0,0,0.6);
    transition-duration: 0.2s;
}

.txt1:hover,.txt2:hover,.txt3:hover,.txt4:hover{
    color: #0E1503;
        text-shadow: 2px 3px 2px rgba(0, 0, 0, 0);
}

.loginButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 150px;
    list-style: none;
    cursor: pointer;
    background-color: #1B3606;
    border: 3px solid #FFFFFF;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.6);
    transition-duration: 0.2s;
    margin-right: 200px;
}

.loginButton p {
    cursor: pointer;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 400;
    transition-duration: 0.2s;
}

.loginButton:hover{
    background-color: #FFFFFF;
    transition-duration: 0.2s;  
}

.loginButton:hover p {
    color: #1B3606;
    transition-duration: 0.2s; 
}

.boxContent{
    position: relative;
    z-index: 1;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}


.imgAlface{
    position: absolute;
    top: 900px;
    left: -90px;
    z-index: 4;
    display: flex;
    transition: transform 0.8s ease;
}


.imgAlface img{
    width: 500px;
}


.calculator1{
    width: 680px;
    height: 650px;
    background-color: #1E2F11;
    box-shadow: 6px 6px 16px 0px rgba(0,0,0,0.6);
    position: absolute;
    z-index: 3;
    border-radius: 15px;
}

.title-container{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.titleBox{
    position: absolute;
    text-align: center;
    padding: 5;
    z-index: 3;
}

.titleBox h1{
    color: #ffffff;
    font-size: 35px;
}

.calculator2{
    width: 680px;
    height: 650px;
    background-color: #1E2F11;
    box-shadow: 6px 6px 16px 0px rgba(0,0,0,0.6);
    position: relative;
    z-index: 2;
    border-radius: 15px;
}


.fieldsBox{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    margin-top: 30px;
}

.fieldsBox h3{
    font-size: 22px;
    font-weight: 500;
}

.inputsCalculadora{
    margin-top: 8px;
    width: 250px;
    height: 30px;
    border-radius: 15px;
    font-size: 25px;
    border: 2px solid #FFFFFF;
    color: #000000;
    opacity: 40%;
    font-weight: 600;
    padding-left: 10px;
}

.buttonBox{
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.buttonSimulation{
    height: 60px;
    width: 210px;
    font-size: 30px;
    font-weight: 600;
    box-shadow: 6px 6px 16px 0px rgba(0,0,0,0.6);
    color: #2c3d10;
    border-radius: 35px;
    border: 2px solid #FFFFFF;
    transition: 0.2s;
}

.buttonSimulation:hover{
    background-color: #0E1503;
    color: #FFFFFF;
    border: 2px solid #142704;
    transition: 0.2s;
}

.calculator1, .calculator2{
    transition: transform 0.8s ease;
}

.resultsBox{
    padding: 30px;
    margin-left: 5px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.buttonSolucao{
    height: 70px;
    width: 230px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 6px 6px 16px 0px rgba(0,0,0,0.6);
    color: #FFFFFF;
    border-radius: 35px;
    border: 2px solid #3C7926;
    background-color: #297E1E;
    animation: pulse 1s infinite;
    transition: 0.2s;
}

.buttonSolucao:hover{
    background-color: #0E1503;
    border: 2px solid #142704;
    transition: 0.2s;
    animation: pulse 0.5s infinite;
}