* {
    padding: 0;
    margin: 0;
    font-family: "poppins", sans-serif;
}

body {
    background-image: url('../assets/assetsTelas/fundoretro.png');
    background-image: url('../assets/assetsTelas/fundo.sujeira.png');
    background-position: center center;
    background-size: cover;
    background-color: #1C3707;
    background-repeat: no-repeat;
    overflow: hidden;
}

@keyframes opacity {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.boxCadastro {
    background: linear-gradient(rgba(15, 32, 2, 0.589), rgba(15, 32, 2, 0));
    /* Define o degradê de opacidade */
    border-radius: 200px;
    width: 600px;
    height: 800px;
    margin: auto;
    bottom: 50px;
    position: relative;
    box-shadow: -1px 8px 27px -4px rgba(0, 0, 0, 0.75),
        /* Sombra original */
        inset 0px 0px 50px 20px rgba(15, 32, 2, 0.7);
    /* Sombra interna com degradê de opacidade */
    transform: translateY(-200%);
    animation: opacity 1.8s ease-in-out;
    backdrop-filter: blur(10px);
}

.logo {
    display: flex;
    justify-content: center;
    height: 500px;
    position: relative;
}


.divTitulo {
    text-align: center;
    margin-bottom: 20px;
}

#divcampo1 {
    text-align: start;
    align-items: left;
    margin: auto;
    justify-content: flex-start;
    border-radius: 50px;
    margin: 10px;
}

.divTitulo h1 {
    color: #333;
}

.boxCampos input {
    background-color: rgba(251, 224, 192, 60%);
    color: #0a1601;
    width: 350px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 50px;
    font-size: 16px;
    padding-left: 20px;
}

.campo1,
.campo2 p {
    color: #FBE0C0;
    font-size: large;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    ;
}

.boxCampos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
    position: relative;
    bottom: 50px;
}

::-webkit-input-placeholder {
    color: #1b36064b;
}

.boxCampos button {
    width: 180px;
    height: 50px;
    padding: 7px;
    border-color: #1B3606;
    border-style: solid;
    border-radius: 100px;
    background-color: #FBE0C0;
    color: #1B3606;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    transition: 0.3s;
    font-family: "Poppins", sans-serif;
    ;
}

.boxCampos button:hover {
    background-color: #1B3606;
    color: #FBE0C0;
    border-color: #FBE0C0;
    border-style: solid;
    transition: 0.3s;
    border-radius: 100px;
    transform: scale(105%);
}

.botaovoltar {
    width: 50px;
    height: 50px;
    background-color: #FBE0C0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: 0.8s;
    box-shadow: -1px 8px 27px -4px rgba(0, 0, 0, 0.75);
    transform: translateX(-200%);
    animation: opacity 1.8s ease-in-out;
}

.botaovoltar a {
    font-weight: bold;
    font-size: 40px;
}

.botaovoltar:hover {
    transform: scale(110%);
    background-color: #1B3606;
    transition: 0.3s;
}

.alertaBox {
    position: absolute;
    z-index: 1000;
    width: 400px;
    height: 200px;
    background-color: #357e35;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    box-shadow: -1px 8px 27px -4px rgba(0, 0, 0, 0.75), inset 0px 0px 50px 20px rgba(15, 32, 2, 0.295);
    padding: 10px;
    border: 5px solid #232323;
    border-radius: 15px;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.alertaBox.aparecer {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.alertaBox h1 {
    color: #FFFFFF;
    text-align: center;
}

.mensagemBox {
    color: #FFFFFF;
    font-size: 18px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnFechar {
    width: 25px;
    height: 25px;
    background-color: #232323;
    border-radius: 100%;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    transition: 0.5s;
    cursor: pointer;
}

.btnFechar:hover {
    transform: scale(1.1);
    background-color: #738362;
    transition: 0.5s;
}

.btnFechar h3 {
    color: #FFFFFF;
}

.alfaceAlerta img {
    width: 110px;
    position: absolute;
    transform: rotate(20deg);
    left: 360px;
    top: 150px;
}

.blurTela {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: #6464646e;
    backdrop-filter: blur(8px);
    display: none;
    bottom: 4px;
}